

<h1><%= postear.Titulo %></h1>

<p><span><%= postear.Contenido %></span></p>
<img src="<%= postear.img %>" alt="" height="300px"><br>
Autor: <%= postear.Autor %> <%= postear.createdAt.toLocaleString() %>

<a href="/elmiminarpost/<%= postear.id %>">eliminar
<!-- <script src="./js/main.js"></script> -->
</a>
<!-- <a href="/editarpost/<%= postear.id %>">editarpost
<!-- <script src="./js/main.js"></script> -->
</a> -->