


<h1><%= postear.Titulo %></h1>

<container class="post-down"></container>
  <p><span><%= postear.Contenido %></span></p>
  <img src="<%= postear.img %>" alt="" height="300px" /><br />
  Autor: <%= postear.Autor %> <%= postear.createdAt.toLocaleString() %>

<container class="btn-option">
  <nav>
    <a href="/eliminarpost/<%= postear.id %>" class="btn btn-danger"
      >eliminar</a
    >
    <a href="../editarpost/<%= postear.id %>" class="btn btn-warning"
      >Editar Post</a
    >
  </nav>
</container>
