

<h1><%= postear.Titulo %></h1>

<span><%= postear.Contenido %></span>

<img src="<%= postear.img %>" alt="" height="300px"><br>
Autor: <%= postear.Autor %> <%= postear.createdAt.toLocaleString() %>

